<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="index.css">

    <head>
        <title>Manage Cats</title>
    </head>

    <body>

        <header>
            <h1>Manage Cats</h1>
            {{> navbar}}
        </header>


         <!--Insert button for the table entities-->
        <div class="table-buttons">
            <button type='button' class="table_button" id="add_button">Add Cat</button>
        </div>

        <table class="cat-table">
            <tr>
                <th>Cat ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {{#each cats}}
            <tr>
                <td>{{this.catId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.breed}}</td>
                <td>{{this.status}}</td>
                <td>
                    <div class="update-delete-section">
                        <!-- Update Form -->
                        <form action="/cats/update/{{this.catId}}" method="POST" >
                            <span>Name: </span>
                            <input type="text" name="name" value="{{this.name}}" required>
                            <span>Age: </span>
                            <input type="number" name="age" value="{{this.age}}" required>
                            <span>Breed: </span>
                            <input type="text" name="breed" value="{{this.breed}}" required>
                            <span>Status: </span>
                            <input type="text" name="status" value="{{this.status}}" required>
                            <button type="submit" class="table_button" >Update</button>
                        </form>
                        
                        <!-- Delete Button -->
                        <form action="/customers/delete/{{this.catId}}" method="POST">
                            <button type="submit" class="table_button" >Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>

    </div>

        <div class="entity-modal-overlay hidden" id="create-overlay">
            <div class="entity-modal" id="create_modal">
                <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
                <h3>Create a new cat</h3>
                <form action="/cats/add" method="POST"  class="entity-attribute-selection">
                    <div class="attribute-field">
                        <label for='name'>Cat Name:</label><input type='text' id='name' name='name' value="{{this.name}}" required>
                    </div>
                    <div class="attribute-field">
                        <label for='breed'>Cat Breed:</label><input type='text' id='breed' name='breed' value="{{this.breed}}" required >
                    </div>
                    <div class="attribute-field">        
                        <label for='age'>Cat Age:</label><input type='text' id='age' name='age' value="{{this.age}}" required>
                    </div>
                    <div class="attribute-field">
                        <label for='status'>Cat Status:</label><input type='text' id='status' name='status' value="{{this.status}}" required>
                    </div>
                    <button type='submit' class="submit_button">Add Cat</button>
                </form>
         </div>
      </div>
        <script src="index.js"></script>
    </body>
</html>