<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Manage Customers</title>
    </head>

    <link rel="stylesheet" href="index.css">

    <!---Table for customers --->
    <div class="entities_table">
    <body>
        <header>
            <h1>Manage Customers</h1>
                {{> navbar}}
        </header>

        <div class="table-buttons">
            <button type='button' class="table_button" id="add_button">Add Customer</button>
        </div>

        <!-- Customers Table -->
        <table class="customer-table">
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            {{#each customers}}
            <tr>
                <td>{{this.customerId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.email}}</td>
                <td>
                    <div class="update-delete-section">
                        <!-- Update Form -->
                        <form action="/customers/update/{{this.customerId}}" method="POST" >
                            <span>Name: </span>
                            <input type="text" name="name" value="{{this.name}}" required>
                            <span>Phone Number: </span>
                            <input type="text" name="phoneNumber" value="{{this.phoneNumber}}" required>
                            <span>Email: </span>
                            <input type="email" name="email" value="{{this.email}}" required>
                            <button type="submit" class="table_button" >Update</button>
                        </form>
                        
                        <!-- Delete Button -->
                        <form action="/customers/delete/{{this.customerId}}" method="POST">
                            <button type="submit" class="table_button" >Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>

   
        <div class="entity-modal-overlay hidden" id="create-overlay">
            <div class="entity-modal" id="create_modal">
                <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
                <h3>Create a new customer</h3>
                    <form class="entity-attribute-selection" action="/customers/add" method="POST">
                        <div class="attribute-field">
                            <label for='name'>Customer Name:</label>
                            <input type='text' id='name' name='name' value="{{this.name}}" required>
                        </div>

                        <div class="attribute-field">
                            <label for='phoneNumber'>Phone Number:</label>
                            <input type='text' id='phoneNumber' name='phoneNumber' value="{{this.phoneNumber}}" required>
                        </div>

                        <div class="attribute-field">
                            <label for='email'>Email:</label>
                            <input type='email' id='email' name='email' value="{{this.email}}" required>
                        </div>

                        <button type="submit" class="table_button" >Add Customer</button>
                    </form>
            </div>
        </div>

    </div>

        <script src="index.js"></script>
    </body>
</html>