<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Order-Menu Item</title>
    </head>
    <body>

        <header>
        <h1>Manage Order-Menu Item</h1>
        {{> navbar}}
        </header>



        <div class="table-buttons">
            <button type='button' class="table_button" id="add_button">Assign an order to a menu item</button>
        </div>

                
        <div class="entity-modal-overlay hidden" id="create-overlay">
            <div class="entity-modal" id="create_modal">
                <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
                    <form class="entity-attribute-selection" action="/orderMenuItems/add" method="POST">
                        <div class="attribute-field">
                            <label for="orderId">Order ID:</label>
                            <select id="orderId" name="orderId" required>
                                <option value="{{this.orderId}}" selected></option>
                                {{#each orders}}
                                    <option value="{{this.orderId}}">{{this.orderId}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="attribute-field">
                            <label for="menuItemId">Menu Item ID:</label>
                                <select id="menuItemId" name="menuItemId" required>
                                    <!-- Select the current customerId as the default option -->
                                    <option value="{{this.menuItemId}}" selected></option>
                                    {{#each menuItems}}
                                        <option value="{{this.menuItemId}}">{{this.menuItemId}} ({{this.name}})</option>
                                    {{/each}}
                                </select>
                        </div>

                         <div class="attribute-field">
                            <label for="menuItemId">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" value="{{this.quantity}}" required>
                        </div>

                        <button type='submit' id="submit_button">Assign an order to a menu item</button>
                    </form>
            </div>
        </div>

        <table>
        <tr>
            <th>Order ID</th>
            <th>Menu Item ID</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        {{#each orderMenuItems}}
        <tr>
            <td>{{this.orderId}}</td>
            <td>{{this.menuItemId}}  ({{this.menuItemName}})</td>
            <td>{{this.quantity}}</td>
            <td>
                <!-- Update Form -->
                <form action="/orderMenuItems/update/{{this.orderMenuItemId}}" method="POST" style="display:inline;">
                    <input type="hidden" name="orderId" value="{{this.orderId}}">
                    <input type="hidden" name="quantity" value="{{this.quantity}}">
                    <label for="menuItemId">New Menu Item ID:</label>
                    <select id="menuItemId" name="menuItemId" required>
                        <!-- Select the current customerId as the default option -->
                        {{#each ../menuItems}}
                            <option value="{{this.menuItemId}}">{{this.menuItemId}} ({{this.name}})</option>
                        {{/each}}
                    </select>
                    <button type="submit" class="table_button" >Update</button>
                </form>

                <!-- Delete Button -->
                <form action="/orderMenuItems/delete" method="POST" style="display:inline;">
                    <input type="hidden" name="orderId" value="{{this.orderId}}">
                    <input type="hidden" name="menuItemId" value="{{this.menuItemId}}">
                    <input type="hidden" name="quantity" value="{{this.quantity}}">
                    <button type="submit" onclick="return confirm('Are you sure?');"  class="table_button" >Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
         </table>
    <script src="index.js"></script>
    </body>
</html>
